vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-SDCEV9D\\非请勿动
vti_modifiedby:SR|DESKTOP-SDCEV9D\\非请勿动
vti_timelastmodified:TR|19 Feb 2019 05:49:41 -0000
vti_timecreated:TR|19 Feb 2019 05:49:41 -0000
vti_cacheddtm:TX|19 Feb 2019 05:49:42 -0000
vti_filesize:IR|14293
vti_cachedlinkinfo:VX|S|img/banner.jpg S|img/icon.png S|img/ico1.png S|img/ico2.png S|img/mbj.png S|img/bg.jpg S|img/h-bg.png S|img/line.png S|img/bg2.jpg S|img/hot-ico.jpg S|img/hot-ico2.jpg S|img/hot-ico.jpg S|img/new.jpg S|img/ico3.png S|img/ico4.png
vti_cachedsvcrellinks:VX|NSUS|505_files/img/banner.jpg NSUS|505_files/img/icon.png NSUS|505_files/img/ico1.png NSUS|505_files/img/ico2.png NSUS|505_files/img/mbj.png NSUS|505_files/img/bg.jpg NSUS|505_files/img/h-bg.png NSUS|505_files/img/line.png NSUS|505_files/img/bg2.jpg NSUS|505_files/img/hot-ico.jpg NSUS|505_files/img/hot-ico2.jpg NSUS|505_files/img/hot-ico.jpg NSUS|505_files/img/new.jpg NSUS|505_files/img/ico3.png NSUS|505_files/img/ico4.png
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|index.htm
